
.carousel-item img {
    max-height: 550px ;
    height: 100%;
}

header{
    background-color:#353434;
    color: #fff;
}

.row h2{
    padding: 20px ; 
    border-radius: 20px;
}

.navbar-nav .nav-link{
    color: #fff;
    
}

.container .carousel-fade{
    margin-top:90px;
}




.carousel-inner h2{
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 767px){

    .carousel-item img{
        max-height: 183px;
        height: 100%;
}
    .carousel-inner h2{
        font-size: 20px;
        padding: 0;
}

.nav-pills{
    padding-top: 30px;
    text-align: center;
}

}

@media screen and (min-width:768px ) and (max-width:1024px){

    .carousel-item img{
        max-height: 364px;
        height: 100%;
}
    .nav-pills{
        padding-top: 30px;
        text-align: center; 
}
}